*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 300px;
    width: 100%;
    text-align: center;
}

h1{
    margin-bottom: 0.5rem;
}

#display-timer{
    width: 100%;
    font-size: 4.5rem;
    margin: 0 auto;
}

#start-stop{
    display: block;
    padding: 4px 12px;
    margin: 10px auto;
}

.timer-button{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 8px;
}

.timer-button:last-child{
    margin-right: 0;
}
